# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files

# Trying to figure out how to get rid of the .idea folder
# .idea
**src/.idea/

*.iml

